.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    background-color: aqua;
}

.movies {
    display: flex;
    flex-direction: column;
    padding: 0 70px;
    grid-area: content;
    justify-content: center;
    flex-grow: 1;
    background-color: aqua;
}

@media (max-width: 800px) {
    .movies {
        padding: 0 30px;
    }
}

@media (max-width: 580px) {
    .movies {
        padding: 0 10px;
    }
}
