.profile {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 410px 1fr;
    grid-template-rows: 524px 102px;
    justify-items: center;
    padding: 0 70px;

    background-color: aqua;
}


/*
.form__fieldset_type_profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
}

.form__fieldset_type_profile:last-of-type {
    border-bottom: none;
}
*/