.auth__reminder {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.auth__reminder_type_error {
    grid-row: 3/4;
    justify-content: center;
}

.auth__reminder-text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    padding-top: 16px;
}

.auth__reminder-link {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    color: #2be080;
}

.auth__reminder-link_type_profile {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.23;
    color: #EE3465;
}

.auth__reminder-link_type_error {
    background-color: transparent;
    border: none;
}

.auth__reminder-link_type_movie-page {
    background-color: transparent;
    border: none;
}

@media (max-width: 580px) {
    .auth__reminder-text {
        font-size: 12px;
        line-height: 1.25;
        padding-top: 14px;
    }

    .auth__reminder-link {
        font-size: 12px;
        line-height: 1.25;
    }

    .auth__reminder-link_type_profile {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.25;
        padding-top: 15px;
    }
}
