.promo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #5c5c5c;
    color: #fff;
    padding: 75px 70px 0;
}

.promo__text {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    max-width: 640px;
    text-align: left;
    padding-right: 190px;
}

.promo__title {
    display: flex;
    margin: 0;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.16;
    max-width: 640px;
}

.promo__paragraph {
    display: flex;
    margin: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.21;
    padding-top: 36px;
    opacity: 0.5;
    max-width: 310px;
}

.promo__image {
    width: 310px;
    height: 304px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotation {
    animation: rotation 20s ease-out infinite;
}

@media (max-width: 800px) {
    .promo {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 140px 30px 0;
    }
    .promo__text {
        align-items: center;
       /* width: 680px;*/
        text-align: center;
        padding: 48px 0 0;
    }
    .promo__title {
        font-weight: 400;
        font-size: 40px;
        line-height: 1.25;
    }
    .promo__paragraph {
        font-weight: 400;
        font-size: 13px;
        line-height: 1.21;
        padding-top: 22px;
        max-width: 260px;
    }
}


@media (max-width: 580px) {
    .promo {
        padding: 70px 10px 0;
    }
    .promo__text {
        padding: 44px 0 0;
        max-width: 300px;
    }

    .promo__title {
        font-weight: 400;
        font-size: 30px;
        line-height: 1.26;
        letter-spacing: -0.04em;
    }
    .promo__paragraph {
        font-weight: 400;
        font-size: 13px;
        line-height: 1.21;
        padding-top: 24px;
        max-width: 260px;
    }

    .promo__image {
        width: 210px;
        height: 206px;
    }
}
