.page {
    max-width: min(100vw, 1280px);
    min-width: 320px;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: 
        "header"
        "content"
        "footer"
    ;
    justify-content: center;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    color: #000;
    font-family: Inter, Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    box-sizing: border-box;
};

.logo {
    width: 38px;
    height: 38px;
}

.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
}