.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 80px 0 10px;
}

.search__form {
    display: grid;
    grid-template-columns: auto 44px;
    grid-template-rows: 50px 18px;
    column-gap: 10px;
    align-items: center;
    width: 100%;
}

.search__button {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    background-image: url(../../images/search__button.svg);
    width: 44px;
    height: 44px;
    background-repeat: no-repeat;
    border: none;
}

.search__input {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    width: auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: none;
    height: 50px;
    padding: 0 0 0 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    color: #a0a0a0;
    box-sizing: content-box;
}

@media (max-width: 580px) {
    .search {
        padding: 80px 4px 10px;
    }

    .search__input {
        height: 44px;
        padding-left: 13px;
    }
}
