.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.search_type_movies {
    padding: 80px 0 46px;
}

.search_type_saved-movies {
    padding: 80px 0 10px;
}

.search__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.search__input {
    display: flex;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: none;
    height: 50px;
    max-width: 1086px;
    width: 84.8%;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    color: #a0a0a0;
    margin-right: 10px;
    box-sizing: content-box;
}

.search__button {
    display: flex;
    background-image: url(../../images/search__button.svg);
    width: 44px;
    height: 44px;
    background-repeat: no-repeat;
    border: none;
    border-radius: none;
}