.form__input {
    display: flex;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21; 
    padding: 0 0 9px;
    color: #000;
    border: none;
    border-bottom: 1px solid #e8e8e8;
}

.form__input_type_error {
    color: #ee3465;
}

.form__input_type_correct {
    border-bottom: 1px solid #2be080;
}

.form__input_type_profile {
    display: flex;
    width: 80%;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.18;
    padding: 0 0 16px;
    color: #000;
    border: none;
    text-align: end;
}

.form__input_type_search {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    width: auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: none;
    height: 50px;
    padding: 0 0 0 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
    color: #a0a0a0;
    box-sizing: content-box;
}

@media (max-width: 800px) {
    .form__input {
        font-weight: 400;
    }
}

@media (max-width: 580px) {
    .form__input_type_search {
        height: 44px;
        padding-left: 13px;
    }
}