.footer {
    grid-area: footer;
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 172px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #fafafa;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.23;
    padding: 0 70px 20px;
}

.footer_type_auth {
    visibility: hidden;
    height: 0;
    padding: 0;
}

.footer_type_profile {
    visibility: hidden;
    height: 0;
    padding: 0;
}

.footer_type_profile-edit {
    visibility: hidden;
    height: 0;
    padding: 0;
}

.footer__reference {
    display: flex;
    justify-content: center;
    margin: 0;
    color: #a0a0a0;
    padding: 79px 0 20px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(232, 232, 232, 1);
}

.footer__info-block {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    padding-top: 20px;
}

.footer__data {
    margin: 0;
}

.footer__contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.footer__contact-link {
  /*  color: #000;*/
    padding-left: 20px;
}

@media (max-width: 800px) {
    .footer {
        background-color: #fff;
        font-weight: 400;
        font-size: 13px;
        padding: 0 30px 20px;
    }
    
    .footer_type_auth {
        visibility: hidden;
        height: 0;
        padding: 0;
    }

    .footer_type_profile {
        visibility: hidden;
        height: 0;
        padding: 0;
    }
}

@media (max-width: 580px) {
    .footer {
        height: 253px;
        font-size: 12px;
        line-height: 1.25;
        padding: 0 10px 20px;
    }
    
    .footer_type_auth {
        visibility: hidden;
        height: 0;
        padding: 0;
    }

    .footer_type_profile {
        visibility: hidden;
        height: 0;
        padding: 0;
    }
    
    .footer__reference {
        padding: 79px 0 21px;
    }
    
    .footer__info-block {
        display: flex;
        position: relative;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-top: 30px;
    }
    
    .footer__data {
        color: #a0a0a0;
    }
    
    .footer__contacts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 18px;
    }
    
    .footer__contact-link {
        padding: 0 0 12px;
    }
}